/* Main Components */
body {
	font-family: Comic Sans MS;
	padding: 20px;
}

.wrapper {
	height: 200px;
    width: 1000px;
	margin: 0 auto;
	padding: 40px;
	background-color: white;
	border-radius: 20px;
}

/* Sections */
.section1 {
	float: left;
    width: 460px;
    
    border-radius: 10px;
    padding: 15px;
    background-color: lightgray;
}

.section2 {
	float: right;
    width: 460px;
    
    border-radius: 10px;
    padding: 15px;
    background-color: lightgray;
}

/* Footer */
.footer {
	padding: 5px;
	text-align: center;
	background-color: #d4d7db;
	border-radius: 5px;
}