/* Main Components */
body {
	font-family: Comic Sans MS;
	padding: 20px;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 40px;
	
	background-color: white;
	border-radius: 20px;
}

/* Headings */

/* Footer */
.footer {
	padding: 5px;
	text-align: center;
	background-color: #d4d7db;
	border-radius: 5px;
}