/* CSS Document */
body {
    background-color: deepskyblue;
    font-family: Comic Sans MS;
}

.wrapper {
    margin: 0 auto;
    width: 800px;
    border-radius: 10px;
    background-color: #FF7F50;
    padding: 20px;
}

.date {
    float: right;
}

.nav {
    padding: 10px;
    background-color:#DE9FA0;
    text-align: center;
    
}

.section1 {
    float: left;
    width: 450px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
}

.section2{
    float: right;
    width: 300px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
}

.footer {
    text-align: center;
    background-color: #DC143c;
    padding: 10px;
    border-radius: 10px;
    clear: both;
}